<div class="container mt-5">
    <div class="col-16 text-right mb-4">
        <button class="btn btn-secondary" [routerLink]="['/add-scenario']">Add Scenario</button>
    </div>
    <h1 class="text-center mb-4">Dashboard</h1>
    <div *ngFor="let scenario of scenarios; let i = index" class="d-flex justify-content-between align-items-center mb-2">
        <button class="btn btn-primary" (click)="runScenario(i)">Run</button>
        <span>{{ scenario.steps }}</span>
        <button class="btn btn-danger" (click)="deleteScenario(i)">Delete</button>
    </div>
</div>
